body {
  font-family: cursive;
  margin: 0;
}

.navigation {
  background: burlywood;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
ul {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
}

ul li a:visited {
  color: #000;
}

ul li a:hover {
  color: blue;
}

ul li a:active {
  color: rgb(224, 202, 173);
}
