body {
  font-family: cursive;
  margin: 0;
}

.navigation {
  background: burlywood;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
nav {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

 a {
  text-decoration: none;
}

 a:visited {
  color: #000;
}

 a:hover {
  color: blue;
}

 a:active {
  color: rgb(224, 202, 173);
}

.span {
  border: 4px solid rgb(239, 245, 229);
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px;
  color: rgb(218, 28, 123);
}