.wrapper {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: max-content;
  border: 1px solid rgb(150, 140, 123);
  padding: 10px;
  border-radius: 5px;
}

.photo-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purchase-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}